# --- For-Bot-Working --------- #
pyrofork
TgCrypto
pyromod
python-dotenv
Pyrogram
# --- For-Database ------------ #
dnspython
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
# --- Time zone ------- #
pytz
yt-dlp
requests
ffmpeg-python
instaloader
google-api-python-client